@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Satoshi';
    src: url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
    @apply bg-background text-foreground overflow-x-hidden font-sans antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}